.wrapper

  = render "shared/side_bar"

  .chat
    .header
      .left-header
        .left-header__name
          = @group.name
        %ul.left-header__members
          %li メンバー：
          %li yuya
          %li kazu
          %li neko
      .right-header
        .right-header__edit
          = link_to "編集", edit_group_path(@group), class: "btn"
          //@groupはmessagesコントローラで定義した@groupである


    .messages
      .message
        .message-top
          .message-top__name
            yuya
          .message-top__date
            2019/2/11
        .message-bottom
          .message-bottom__text
            頑張っていますかー

      .message
        .message-top
          .message-top__name
            yuya
          .message-top__date
            2019/2/11
        .message-bottom
          .message-bottom__text
            頑張っていますかー

      .message
        .message-top
          .message-top__name
            yuya
          .message-top__date
            2019/2/11
        .message-bottom
          .message-bottom__text
            頑張っていますかー


    %form.message-form
      %input.message-form__input
      .message-form__mask
        %label
          = fa_icon "picture-o", class: "icon"
          %input.hidden{type: "file"}
      %input.message-form__submit{type: :submit, value: "送信"}






















